name: Build Rust Client

on:
  workflow_call:
    inputs:
      rust:
        type: string
      solana:
        type: string
  workflow_dispatch:
    inputs:
      rust:
        description: Rust version
        default: 1.68.0
        required: true
        type: string
      solana:
        description: Solana version
        default: 1.16.8
        required: true
        type: string

env:
  CACHE: true

jobs:
  build_sdk:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Git checkout
        uses: actions/checkout@v3

      - name: Load environment variables
        run: cat .github/.env >> $GITHUB_ENV

      - name: Install Rust
        uses: metaplex-foundation/actions/install-rust@v1
        with:
          toolchain: ${{ inputs.rust || env.RUST_VERSION }}

      - name: Install Solana
        uses: metaplex-foundation/actions/install-solana@v1
        with:
          version: ${{ inputs.solana || env.SOLANA_VERSION }}
          cache: ${{ env.CACHE }}

      - name: Cache Rust client dependencies
        uses: metaplex-foundation/actions/cache-crate@v1
        with:
          folder: ./clients/rust
          key: rust-client

      - name: Run cargo clippy
        uses: actions-rs/cargo@v1
        with:
          command: clippy
          args: --all-targets --all-features --no-deps --manifest-path ./clients/rust/Cargo.toml

      - name: Build Rust client
        shell: bash
        working-directory: clients/rust
        run: cargo build --all-features --release

      - name: Upload Rust client builds
        uses: actions/upload-artifact@v3
        with:
          name: rust-client-builds
          # First wildcard ensures exported paths are consistently under the clients folder.
          path: ./client*/rust/target/release/*mpl_token_metadata*
          if-no-files-found: error
